body{
    margin: 0;
    padding: 0;
    font: 1.2em "Fira Sans", sans-serif;
}

#leftPannel{
    width: 200px;
    /*height: 100%;*/
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(48, 47, 47, 0.7);
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#leftPannel button{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    /*background-color: rgb(37, 37, 37);
    color: #FFF;*/
}

#diceZone{
    display: flex;
    flex-direction: row;
    background-color: rgb(61, 61, 61);
}

/*
.diceResult{
}
*/
.diceResult img{
    width: 48px;
    padding: 8px;
}

#monstersField{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    width: 100%;
    background-color: rgb(56, 56, 56);
}

.monsterIcon{
    margin: 5px;
}
.monsterIcon img {
    width: 54px;
}
.disabledMonsterIcon{
    opacity : 0.4;
}
.selectedMonsterIcon{
    border: 3px solid #FFF;
    border-radius: 3px;
}

#rightPannel{
    width: 150px;
    /*height: 100%;*/
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#rightPannel #oponentSide{
    height: 50%;
    background-color: rgba(219, 59, 59, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rightPannel #playerSide{
    height: 50%;
    background-color: rgba(59, 127, 219, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemCount{
    background-color: rgba(48, 47, 47, 0.7);
    color: #FFF;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pad4px{
    padding: 4px;
}

.gameIcon{
    width: 25px;
}
.heart{
    width: 35px;
    padding: 6px;
}

#monsterInfos1{
    right: 170px;
    bottom: 20px;
    background-color: rgb(149 146 179 / 80%);
}
#monsterInfos2{
    left: 220px;
    bottom: 20px;
    background-color: rgb(179 146 146 / 80%);
}

.monsterInfos{
    position: absolute;
    width: 400px;
    height: 200px;
    border: 3px solid #000;
    border-radius: 3px;
    color: #000;
    flex-direction: column;
    display: none;
}

.monsterHeader{
    display: flex;
    justify-content: space-between;
    padding: 2px 6px;
    font-weight: bold;
}

.monsterSpeMove{
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 2px 6px;
    min-height: 24px;
}

.monsterDesc{
    display: flex;
    max-height: 118px;
    min-height: 118px;
}

.effectCost{
    padding: 0 10px;
    border-right: 1px solid #FFF;
    display: flex;
    align-items: center;
}
.effectDesc{
    padding: 2px 6px;
    overflow-y: auto;
}

.monsterFooter{
    display: flex;
    justify-content: space-between;
    padding: 2px 6px;
    border-top: 1px solid #FFF;
}